/* reset ------------------------------------------------------- */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

/*header -------------------------------------------------- */
.main-header {
  background-color: #4D4D4D;
  height: 52px;
}
.app-logo {
  display: inline;
  float: left;
  margin: 0px;
}
.login-list {
  float: right;
  list-style: none;
}

/* new build ------------------------------------------------ */
.new-build-title {
  display: inline;
  float: left;
  padding: 4px 4px 6px;
  text-align: left;
  width: 100%;
}
.new-build-plus {
  float: right;
}
.new-build-type-list {
  border-top: 1px solid #CCC;
  float: left;
  padding: 8px 0px;
  width: 100%;
}
.new-build-type-list-item {
  background: url('') no-repeat #F2F2F2;
  float: left;
  height: 64px;
  margin-right: 16px;
  width: 64px;
}

/* appwide --------------------------------------------------- */
body {
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.is-hidden {
  display: none;
}
.inverse-color {
  color: #FFF;
}
.is-active {
  color: #F00;
}

/* structure --------------------------------------------------- */
.container {
  width: 320px;
  margin: 0px auto;
}