/* reset ------------------------------------------------------- */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

/* appwide --------------------------------------------------- */
body {
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.is-hidden {
  display: none;
}
.inverse-color {
  color: #FFF;
}
.is-active {
  color: #F00;
}

/* structure --------------------------------------------------- */
.container {
  width: 320px;
  margin: 0px auto;
}