/* reset ------------------------------------------------------- */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* appwide --------------------------------------------------- */
.is-hidden {
  display: none;
}

.inverse-color {
  color: $inverse-color;
}

.is-active {
  color: #F00;
}

.is-inactive {
  color: $inactive-color;
}

a:link {
  color: $main-color;
  text-decoration: none;
}
a:visited {
  color: $main-color;
  text-decoration: none;
}
a:hover {
  color: $main-color;
  text-decoration: none;
}
a:active {
  color: $main-color;
  text-decoration: none;
}
