<div class="new-build-types-menu">
  <label class="new-build-types-menu-title">
    create a new build
  </label>

  <ul class="new-build-types-menu-list">
    <a ui-sref="builds#new({ type: 'city' })" class="block-link">
      <li class="new-build-types-menu-item">
        <div class="new-build-types-menu-icon build-type-city"></div>
          city
      </li>
    </a>
    <a ui-sref="builds#new({ type: 'road' })" class="block-link">
      <li class="new-build-types-menu-item">
        <div class="new-build-types-menu-icon build-type-road"></div>
          road
      </li>
    </a>
    <a ui-sref="builds#new({ type: 'fixed_gear' })" class="block-link">
      <li class="new-build-types-menu-item">
        <div class="new-build-types-menu-icon build-type-fixed"></div>
          fixie
      </li>
    </a>
  </ul>
</div>
  