<section id="main-content">
  
  <div class="new-build-ctn">
    <label class="new-build-title is-active">
      new build
      <span class="new-build-plus is-active">+</span>
    </label>
    <ul class="new-build-type-list">
      <a href="javascript://" ui-sref="builds#new({ type: 'road' })" class="block-link">
        <li class="new-build-type-list-item build-type-road">
          road
        </li>
      </a>
      <a href="javascript://" ui-sref="builds#new({ type: 'fixed_gear' })" class="block-link">
        <li class="new-build-type-list-item  build-type-fixed">
          fixed
        </li>
      </a>
      <a href="javascript://" ui-sref="builds#new({ type: 'urban' })" class="block-link">
        <li class="new-build-type-list-item  build-type-city">
          urban
        </li>
      </a>
    </ul>
  </div>
  
  <section class="builds-list">
    <header class="list-header builds-list-header">
      <h2 class="builds-list-title">
        builds
      </h2>
      <ul class="builds-filters-list">
        <li class="builds-filters-list-item is-active">
          all
        </li>
        <li class="builds-filters-list-item is-inactive">
          my
        </li>
        <li class="builds-filters-list-item is-inactive">
          favorites
        </li>
      </ul>
    </header>

    <article class="bike-build">
      <img src="images/build-ph.jpg" class="bike-build-avatar">
      <hgroup class="bike-build-header">
        <h3 class="bike-build-title">
          Build name
        </h3>
        <h4 class="bike-build-subtitle">
          build type
        </h4>
        <h5 class="bike-build-subtitle">
          preço | peso
        </h5>
      </hgroup>
      <div class="bike-builder-ctn">
        <hgroup class="bike-builder-header">
          <h4 class="bike-builder-name">
            Bike builder name
          </h4>
        </hgroup>
      </div>
    </article>
  </section>
  
</section>
