<section ng-include="'views/builds/_new_build_types_menu.html'"></section>
  
<section class="l-builds-index">

  <header class="build-cards-list-header">
    <h2 class="builds-list-title">
      builds
    </h2>
    <ul class="builds-filters-list">
      <li class="builds-filters-list-item is-active">
        all
      </li>
      <li class="builds-filters-list-item is-inactive">
        my
      </li>
      <li class="builds-filters-list-item is-inactive">
        favorites
      </li>
    </ul>
  </header>

  <section class="build-cards-list">

    <article class="build-card">
      <a href="#" class="block-link">

        <div class="build-card-thumb-ctn">
          <img src="images/build-ph.jpg" class="build-card-thumb">
        </div>

        <hgroup class="build-card-info">
          <h3 class="build-name">
            Build name
          </h3>
          <h4 class="build-type">
            build type
          </h4>
          <div class="build-card-subtitle build-cost">
            price | weight
          </div>
        </hgroup>

        <div class="build-card-author-ctn">
          <img src="images/bike-builder-ph.jpg" class="build-card-author-avatar">
          <ul class="build-card-author-stats-list">
            <li class="build-card-author-stats-list-item build-card-author-stats-build">
              4
            </li>
            <li class="build-card-author-stats-list-item build-card-author-stats-ride">
              5
            </li>
          </ul>
          <hgroup class="build-card-author-header">
            <h4 class="build-card-author-name">
              Bike builder name
            </h4>
          </hgroup>
        </div>

      </a>
    </article>

  </section>
  
</section>
