<article class="l-new-build">
  <form>
    <header>
      <h3 class="build-name"><input type="text" name="build.name" value="{{ build.name }}"></h3>
      <h4 class="build-cost">{{ build.cost | currency }}</h4>
      <h4 class="build-weight">{{ build.weight }} kg</h4>

      <span class="build-progress-bar" style="width: {{ build.progress }}%;"></span>
    </header>

    <img src="http://placehold.it/296x188" alt="My New Awesome Build Photo" class="build-image">

    <section class="build-components">
      <h4 class="build-components-title">components</h4>

      <ul class="components-list">

        <li class="components-list-item ico-arrow-right" ng-repeat="component in build_type_components.primary">
          <img src="http://placehold.it/50x32" class="component-icon" alt="component name">
          <h4 class="component-spec">{{component.name}}</h4>
        </li>

  <!--  
        <li class="components-list-item ico-arrow-right">
          <img src="http://placehold.it/50x32" class="component-icon" alt="component name">
          <h4 class="component-spec">Tanger alloy fork</h4>
          <dl class="component-data">
            <dt>weight</dt>
            <dd>320 g</dd>
  x
            <dt>cost</dt>
            <dd>R$ 200,00</dd>
          </dl>
        </li>
   -->    

      </ul>

      <fieldset class="form-controls">
        <input type="submit" value="save">
      </fieldset>

    </section>
  </form>
</article>
