<article class="l-new-build">
  <header>
    <h3 class="build-name">My {{ bike_type }} Bike</h3>
    <h4 class="build-cost">$ 200,00</h4>
    <h4 class="build-weight">2.3 kg</h4>

    <span class="build-progress-bar" style="width: 23%;"></span>
  </header>

  <img src="http://placehold.it/296x188" alt="My New Awesome Build Photo" class="build-image">

  <section class="build-components">
    <h4 class="build-components-title">components</h4>

    <ul class="components-list">
      <li class="components-list-item ico-arrow-right">
        <img src="http://placehold.it/50x32" class="component-icon" alt="component name">
        <h4 class="component-spec">Pinarello Dogma 56cm Italian columbus frame</h4>
        <dl class="component-data">
          <dt>weight</dt>
          <dd>320 g</dd>

          <dt>cost</dt>
          <dd>R$ 200,00</dd>
        </dl>
      </li>

      <li class="components-list-item ico-arrow-right">
        <img src="http://placehold.it/50x32" class="component-icon" alt="component name">
        <h4 class="component-spec">Tanger alloy fork</h4>
        <dl class="component-data">
          <dt>weight</dt>
          <dd>320 g</dd>

          <dt>cost</dt>
          <dd>R$ 200,00</dd>
        </dl>
      </li>

      <li class="components-list-item ico-arrow-right">
        <img src="http://placehold.it/50x32" class="component-icon" alt="component name">
        <h4 class="component-spec">Mavic A19 front rim</h4>
        <dl class="component-data">
          <dt>weight</dt>
          <dd>320 g</dd>

          <dt>cost</dt>
          <dd>R$ 200,00</dd>
        </dl>
      </li>

    </ul>
  </section>

</article>
