<form class="l-new-build">

  <section class="build-form-header">
    <h2 class="build-form-name"><input type="text" name="build.name" value="{{ build.name }}"></h2>
    <div class="build-form-summary">
      <span class="build-form-weight">{{ build.weight }} kg</span>\
      <span class="build-form-cost">{{ build.cost | currency }}</span>
    </div>
  </section>

  <div class="build-form-progress-bar" style="width: 30%;"></div>

  <img src="http://placehold.it/296x188" alt="My New Awesome Build Photo" class="build-form-image">

  <section class="build-form-components">
    <h4 class="build-form-components-title">components</h4>

    <ul class="components-list">

      <li class="components-list-item ico-arrow-right" ng-repeat="component in build_type_components.primary">
        <img src="http://placehold.it/50x32" class="component-icon" alt="component name">
        <h4 class="component-spec">{{component.name}}</h4>
      </li>

    </ul>

    <fieldset class="form-controls">
      <input type="submit" value="save">
    </fieldset>
  </section>

</form>
