.list-header {
  @include span-columns(10);
  border-bottom: 1px solid $light-border-color;
  border-top: 1px solid $mid-border-color;
  float: left;
  padding: 4px 4px 6px;
  .builds-list-title {
    @include ts_1;
    @include tf_text;
    @include span-columns(2);
  }
}
