/*header -------------------------------------------------- */
.main-header {
  background-color: #4D4D4D;
  height: 52px;
  .app-logo {
    display: inline;
    float: left;
    margin: 0px;
  }
  .login-list {
    @include span-columns(4);
    float: right;
    padding: 12px;
    .login-label {
      float: left;
      padding: 6px 12px 0px;
    }
    .login-list-item {
      background: url('../images/login-sprite.png') no-repeat;
      float: left;
      height: 28px;
      text-indent: -999px;
      width: 28px;
    }
  }
}