/* new build ------------------------------------------------ */
.new-build-title {
  display: inline;
  float: left;
  padding: 4px 4px 6px;
  text-align: left;
  width: 100%;
  .new-build-plus {
    float: right;
  }
}
.new-build-type-list {
  border-top: 1px solid #CCC;
  float: left;
  padding: 8px 0px 32px;
  width: 100%;
  .new-build-type-list-item {
    @include transition;
    background: url('../images/build-types-sprite.png') no-repeat;
    float: left;
    height: 64px;
    margin: 0px 8px;
    padding-top: 64px;
    text-align: center;
    width: 64px;
    &.build-type-road {
      background-position: 0px 0px;
    }
    &.build-type-fixed {
      background-position: -64px 0px;
    }
    &.build-type-city {
      background-position: -128px 0px;
    }
  }
  &:hover .new-build-type-list-item {
    opacity: 0.2;
    &.new-build-type-list-item:hover {
      opacity: 1;
    }
  }
}
