/* new build ------------------------------------------------ */
.new-build-title {
  display: inline;
  float: left;
  padding: 4px 4px 6px;
  text-align: left;
  width: 100%;
  .new-build-plus {
    float: right;
  }
}
.new-build-type-list {
  border-top: 1px solid #CCC;
  float: left;
  padding: 8px 0px 32px;
  width: 100%;
  .new-build-type-list-item {
    background: url('') no-repeat #F2F2F2;
    float: left;
    height: 64px;
    margin: 0px 8px;
    padding-top: 64px;
    width: 64px;
  }
}
